.logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.nav {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.svg {
  font-size: 30px;
}
